mixin renderReportRow(result)
  tr
      td(style="padding:5px;") #{result.test.name}
      td(style="padding:5px;") #{result.result}
      td(style="padding:5px;") #{result.test.units}
      td(style="padding:5px;") #{result.test.lower_limit}
      td(style="padding:5px;") #{result.test.upper_limit}

doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title=title
  body
    img(style="display: none;")(src="{{path-header-image}}")
    img(style="display: none;")(src="{{path-footer-image}}")
    .container(style="margin: 0 0.5in;")
        h4 Test Report
        hr
        .header(style="line-height: 1.5;")
            strong#report-patient-name(style="text-transform: capitalize;") #{patient.name}
            div(style="font-size: 0.8em;")
                #report-patient-emails Email id(s): #{patient.emails.join( ', ' )}
                #report-patient-phones Phone number(s): #{patient.phones.join( ', ' )}
                div
                    strong Report Last Modified: 
                    | &nbsp;
                    span#report-report-lastModifiedDate #{order.report.lastModifiedDate}
        hr
        table(style="width: 100%;")
            thead
                tr
                    th Test
                    th Value
                    th Unit
                    th Lower limit
                    th Upper Limit
            tbody
                each result in order.report.results
                    +renderReportRow(result)