mixin showPackageDiscountCurrencyIfApplicable(package)
    - if( package.discountStrategy === "currency" )
      span
        | #{package.currency}
      &nbsp;

mixin showPackageDiscountPercentageIfApplicable(package)
    - if( package.discountStrategy === "percentage" )
      span
        | %

mixin getFormattedDate(dateString)
  - var dateObj = new Date( dateString )
  - var date = dateObj.toString().substr(4, 11)
  - if( dateString && dateObj instanceof Date )
    span
      | #{date}

mixin getFormattedTime(dateString)
  - var dateObj = new Date( dateString )
  - var time = dateObj.toTimeString()
  - if( dateString && dateObj instanceof Date )
    span
      | #{time}

mixin renderPatientRow(patient)
  - var strPatient = JSON.stringify(patient)
  tr(data-src="#{strPatient}")
      td=patient.name
      td
          +getFormattedDate(patient.dob)
      td=patient.age
      td=patient.sex
      td
          each phone in patient.phones
              | <a href="tel:#{phone}">#{phone}</a> <br />
      td
          each email in patient.emails
              | <a href="mailto:#{email}">#{email}</a> <br />
      td(style='vertical-align: middle;')
          span.pull-right
              i.btn-action.btn-order.pull-left.fa.fa-file-text(data-id="#{patient._id}",data-toggle="modal", data-target='#place-order-dialog')
              span.pull-left &nbsp;&nbsp;
              i.btn-action.btn-update.pull-left.fa.fa-pencil(data-id="#{patient._id}",data-toggle="modal", data-target='#create-update-dialog')
              span.pull-left &nbsp;&nbsp;
              i.btn-action.btn-delete.pull-left.fa.fa-close(data-id="#{patient._id}")

mixin renderOrderRow(order)
  - var strOrder = JSON.stringify(order)
  tr(data-src="#{strOrder}")
      td.cell-patient-name=order.patient.name
      td.cell-order-createdDate
        .date
            +getFormattedDate(order.order.createdDate)
        .time
            +getFormattedTime(order.order.createdDate)
      td.cell-order-lastModifiedDate
        .date
            +getFormattedDate(order.order.lastModifiedDate)
        .time
            +getFormattedTime(order.order.lastModifiedDate)
      td.cell-order-status=order.order._status
      td.cell-report-status=order.order.report._status
      td.cell-report-createdDate
        .date
            +getFormattedDate(order.order.report.createdDate)
        .time
            +getFormattedTime(order.order.report.createdDate)
      td.cell-report-lastModifiedDate
        .date
            +getFormattedDate(order.order.report.lastModifiedDate)
        .time
            +getFormattedTime(order.order.report.lastModifiedDate)
      td(style='vertical-align: middle;')
          span.pull-right
              i.btn-action.btn-initiate-report.pull-left.fa.fa-file-o(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}", title="Initiate report")
              span.pull-left &nbsp;&nbsp;
              i.btn-action.btn-update-report.pull-left.fa.fa-file-text-o(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}" data-toggle="modal", data-target='#update-test-results-dialog', title="Update test results")
              span.pull-left &nbsp;&nbsp;
              i.btn-action.btn-freeze-report.pull-left.fa.fa-file-text(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}" title="Freeze report")
              span.pull-left &nbsp;&nbsp;
              i.btn-action.btn-update.pull-left.fa.fa-pencil(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}" data-toggle="modal", data-target='#update-order-dialog')
              span.pull-left &nbsp;&nbsp;
              i.btn-action.btn-delete.pull-left.fa.fa-close(data-patient-id="#{order.patient._id}", data-order-id="#{order.order_id}")

mixin renderTestRow(test)
  - var strTest = JSON.stringify(test)
  tr(data-src="#{strTest}")
    td=test.name
    td=test.lower_limit
    td=test.upper_limit
    td=test.units
    td(style='vertical-align: middle;')
        span.pull-right
            i.btn-action.btn-update.pull-left.fa.fa-pencil(data-id="#{test._id}",data-toggle="modal", data-target='#create-update-dialog')
            span.pull-left &nbsp;&nbsp;
            i.btn-action.btn-delete.pull-left.fa.fa-close(data-id="#{test._id}")

mixin renderPackagePanel(package, index)
    - var strPackage = JSON.stringify(package)
    .panel.panel-primary.panel-package(data-src="#{strPackage}")
        .panel-heading
            .panel-title-container
                .panel-title(data-target='#package-#{index}', data-toggle="collapse", data-parent="#package-list")
                    .row
                        .col-xs-1
                            span.fa.fa-caret-right
                        .col-xs-5 Name: #{package.name}
                        .col-xs-3 Price: #{package.currency} #{package.price}
                        .col-xs-3 
                            span Discount: 
                            +showPackageDiscountCurrencyIfApplicable(package)
                            span #{package.discountAmount}
                            +showPackageDiscountPercentageIfApplicable(package)
                .panel-action-container
                    span.pull-right
                        i.btn-action.btn-update.pull-left.fa.fa-pencil(data-id="#{package._id}",data-toggle="modal", data-target='#create-update-dialog')
                        span.pull-left &nbsp;&nbsp;
                        i.btn-action.btn-delete.pull-left.fa.fa-close(data-id="#{package._id}")
        .collapse.panel-collapse(id="package-#{index}")
            .panel-body
                span.text-primary Tests in this package
                <br /><br />
                ul.list-group.list-group-tests
                button.btn-add-tests.btn.btn-primary.pull-right(role="button",data-id="#{package._id}",data-toggle="modal", data-target='#add-tests-dialog')
                    i.fa.fa-plus
                    | &nbsp; Add tests