mixin showPackageDiscountCurrencyIfApplicable(package)
    - if( package.discountStrategy === "currency" )
      span
        | #{package.currency}
      &nbsp;

mixin showPackageDiscountPercentageIfApplicable(package)
    - if( package.discountStrategy === "percentage" )
      span
        | %

mixin renderPrevious(start, page, pageDescriptor)
    - if( +start === 1 )
        li.previous.disabled
            a#previous-tests(href='#')
                span(aria-hidden='true')
                    | &larr;
                | &nbsp;
                | Previous
    - if( +start !== 1 )
        li.previous
            a#previous-tests(href='/#{pageDescriptor}?page=#{+page - 1}')
                span(aria-hidden='true')
                    | &larr;
                | &nbsp;
                | Previous

mixin renderNext(end, count, page, pageDescriptor)
    - if( +end === +count.documents )
        li.next.disabled
            a#next-tests(href='#')
                span(aria-hidden='true')
                    | &rarr;
                | &nbsp;
                | Next
    - if( +end !== +count.documents )
        li.next
            a#next-tests(href='/#{pageDescriptor}?page=#{+page + 1}')
                span(aria-hidden='true')
                    | &rarr;
                | &nbsp;
                | Next

mixin renderPaginator(count, start, end, page, pageDescriptor)
    nav(aria-label='...')
        ul.pager
            +renderPrevious(start, page, pageDescriptor)
            +renderNext(end, count, page, pageDescriptor)
            li
                | Showing&nbsp;
                div(style="display:inline;") #{start}
                | &nbsp;to&nbsp;
                div(style="display:inline;") #{end}
                | &nbsp;(of&nbsp;
                div(style="display:inline;") #{count.documents}
                | &nbsp;#{pageDescriptor})
    
mixin getFormattedDate(dateString)
  - var dateObj = new Date( dateString )
  - var date = dateObj.toString().substr(4, 11)
  - if( dateString && dateObj instanceof Date )
    span
      | #{date}

mixin getFormattedTime(dateString)
  - var dateObj = new Date( dateString )
  - var time = dateObj.toTimeString()
  - if( dateString && dateObj instanceof Date )
    span
      | #{time}

mixin renderPatientRow(patient)
  - var strPatient = JSON.stringify(patient)
  tr(data-src="#{strPatient}")
      td=patient.name
      td
          +getFormattedDate(patient.dob)
      td=patient.age
      td=patient.sex
      td
          each phone in patient.phones
              | <a href="tel:#{phone}">#{phone}</a> <br />
      td
          each email in patient.emails
              | <a href="mailto:#{email}">#{email}</a> <br />
      td(style='vertical-align: middle;')
          span.pull-right
              i.btn-action.btn-order.pull-left.fa.fa-file-text(data-id="#{patient._id}",data-toggle="modal", data-target='#place-order-dialog')
              span.pull-left &nbsp;&nbsp;
              i.btn-action.btn-update.pull-left.fa.fa-pencil(data-id="#{patient._id}",data-toggle="modal", data-target='#create-update-dialog')
              span.pull-left &nbsp;&nbsp;
              i.btn-action.btn-delete.pull-left.fa.fa-close(data-id="#{patient._id}")

mixin renderOrderRow(order)
  - var strOrder = JSON.stringify(order)
  tr(data-src="#{strOrder}")
      td.cell-patient-name=order.patient.name
      td.cell-order-createdDate
        .date
            +getFormattedDate(order.order.createdDate)
        .time
            +getFormattedTime(order.order.createdDate)
      td.cell-order-lastModifiedDate
        .date
            +getFormattedDate(order.order.lastModifiedDate)
        .time
            +getFormattedTime(order.order.lastModifiedDate)
      td.cell-order-status=order.order._status
      td.cell-report-status=order.order.report._status
      td.cell-report-createdDate
        .date
            +getFormattedDate(order.order.report.createdDate)
        .time
            +getFormattedTime(order.order.report.createdDate)
      td.cell-report-lastModifiedDate
        .date
            +getFormattedDate(order.order.report.lastModifiedDate)
        .time
            +getFormattedTime(order.order.report.lastModifiedDate)
      td(style='vertical-align: middle;')
          span.pull-right
              div.clearfix
                i.btn-action.btn-initiate-report.pull-left.fa.fa-file-o(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}", title="Freeze order and Initiate report")
                span.pull-left &nbsp;&nbsp;
                i.btn-action.btn-update-report.pull-left.fa.fa-file-text-o(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}" data-toggle="modal", data-target='#update-test-results-dialog', title="Update test results")
                span.pull-left &nbsp;&nbsp;
                i.btn-action.btn-freeze-report.pull-left.fa.fa-file-text(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}" title="Freeze report")
              div.clearfix
                i.btn-action.btn-view-report.pull-left.fa.fa-eye(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}",  data-toggle="modal", data-target='#print-report-dialog', title="View/Print report")
                span.pull-left &nbsp;&nbsp;
                a(href="/reports/#{order.order._id}.pdf", download="/reports/#{order.order._id}.pdf", target="_blank", title="Download report as pdf")
                    i.btn-action.btn-download-pdf.pull-left.fa.fa-file-pdf-o(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}")
                span.pull-left &nbsp;&nbsp;
                i.btn-action.btn-print-report.pull-left.fa.fa-print(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}", title="Print report", onclick="MediLab.Utils.print( '/reports/#{order.order._id}.pdf' );")
              div.clearfix
                i.btn-action.btn-update.pull-left.fa.fa-pencil(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}" data-toggle="modal", data-target='#update-order-dialog')
                span.pull-left &nbsp;&nbsp;
                i.btn-action.btn-delete.pull-left.fa.fa-close(data-patient-id="#{order.patient._id}", data-order-id="#{order.order._id}")

mixin renderTestRow(test)
  - var strTest = JSON.stringify(test)
  tr(data-src="#{strTest}")
    td=test.name
    td=test.lower_limit
    td=test.upper_limit
    td=test.units
    td(style='vertical-align: middle;')
        span.pull-right
            i.btn-action.btn-update.pull-left.fa.fa-pencil(data-id="#{test._id}",data-toggle="modal", data-target='#create-update-dialog')
            span.pull-left &nbsp;&nbsp;
            i.btn-action.btn-delete.pull-left.fa.fa-close(data-id="#{test._id}")

mixin renderPackagePanel(package, index)
    - var strPackage = JSON.stringify(package)
    .panel.panel-primary.panel-package(data-src="#{strPackage}")
        .panel-heading
            .panel-title-container
                .panel-title(data-target='#package-#{index}', data-toggle="collapse", data-parent="#package-list")
                    .row
                        .col-xs-1
                            span.fa.fa-caret-right
                        .col-xs-5 Name: #{package.name}
                        .col-xs-3 Price: #{package.currency} #{package.price}
                        .col-xs-3 
                            span Discount: 
                            +showPackageDiscountCurrencyIfApplicable(package)
                            span #{package.discountAmount}
                            +showPackageDiscountPercentageIfApplicable(package)
                .panel-action-container
                    span.pull-right
                        i.btn-action.btn-update.pull-left.fa.fa-pencil(data-id="#{package._id}",data-toggle="modal", data-target='#create-update-dialog')
                        span.pull-left &nbsp;&nbsp;
                        i.btn-action.btn-delete.pull-left.fa.fa-close(data-id="#{package._id}")
        .collapse.panel-collapse(id="package-#{index}")
            .panel-body
                span.text-primary Tests in this package
                <br /><br />
                ul.list-group.list-group-tests
                button.btn-add-tests.btn.btn-primary.pull-right(role="button",data-id="#{package._id}",data-toggle="modal", data-target='#add-tests-dialog')
                    i.fa.fa-plus
                    | &nbsp; Add tests