extends layout

block content
    .page-header
        h1=pageHeader
    
    #package-list.panel-group
        each package, index in packages
            .panel.panel-default
                .panel-heading(data-target='#package-#{index}', data-toggle="collapse", data-parent="#package-list")
                    .row
                        .col-xs-4 Name: #{package.name}
                        .col-xs-4 Price: #{package.currency} #{package.price}
                        .col-xs-4 Discount: #{package.discount.amount} (#{package.discount.type})
                .collapse.panel-collapse(id="package-#{index}")
                    .panel-body
                        ul.list-group
                            each test, index in package.tests
                                li.list-group-item #{index + 1}. #{test.name}