extends layout

block content
    .page-header
        h1=pageHeader
    
    .table-responsive
        table.table.table-bordered.table-striped.table-hover
            thead.bg-primary
                tr
                    th Name
                    th Age
                    th Sex
                    th Phone number(s)
            tbody
                each patient in patients
                    tr
                        td=patient.name
                        td=patient.age
                        td=patient.sex
                        td
                            each phone in patient.contact.phones
                                | <a href="tel:#{phone}">#{phone}</a> <br />